*
!.gitignore
!/README.md
!/README.zh-CN.md
!/README.ja.md
!/docs/
!/docs/**
!/keyence-plc-programmer/
!/keyence-plc-programmer/**
!/kv-studio-kb-programming/
!/kv-studio-kb-programming/**
!/kv-studio-operator/
!/kv-studio-operator/**
**/__pycache__/
*.pyc
